* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: none;
}

body {
    width: 100%;
    margin: auto, 5%;
    background-image: url(images/background.png);
}

section {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(158, 155, 155);
    width: 500px;
    padding: 3% 0.5%;
    opacity: 98%;
    border-radius: 1%;
    box-shadow: 0px 0px 3px 2px white;
}

span {
    font-size: smaller;
}

input {
    margin-top: 2%;
    margin-right: 5px;
    border-radius: 1%;
    width: 150px;
}

input:focus {
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.37);
}

.titulosformulario {
    font-size: 25px;
}

.wrap-container {
    display: flex;
    justify-content: start;
    
}
#email {
    width: 200px;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    border-radius: 2%;
}
.botao {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 75%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-radius: 1rem;
    cursor: pointer;
}
.botao:hover {
    opacity: 80%;
    box-shadow: 1px 1px 4px 3px white;
}